---
layout: default
title: With Regard
---

<div id="home">
    {% for post in site.posts %}
      <h2>{{ post.title }}</h2>
      
      {% assign author = site.authors[page.author] %} 
      
      <p class="meta">{{ author.display_name }} {{ post.date | date_to_string }}</p>

      <div class="post">
        {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    {% endfor %}
  </ul>
</div>